
{% extends 'base.html' %}

{% block title %} Privacy Policy {% endblock %}

{% block content %}
<div class="card mt-4">
    <div class="card-body">
    <h5 class="card-title">Privacy Policy</h5>

    <p>Your privacy is important to us. This privacy policy explains how we collect, use, and protect your information when you use our website.</p>

    <h2>Information We Collect</h2>
    <ul>
        <li>Personal Information: When you register or interact with our website, we may collect your name, email address, and other details.</li>
        <li>Usage Data: We collect data on how you interact with our website, such as pages visited, time spent, and clicks.</li>
    </ul>

    <h2>How We Use Your Information</h2>
    <ul>
        <li>To provide and improve our services.</li>
        <li>To communicate with you regarding updates, promotions, or inquiries.</li>
        <li>To comply with legal requirements and protect our rights.</li>
    </ul>

    <h2>Sharing Your Information</h2>
    <p>We do not sell or rent your personal information to third parties. We may share your data with trusted partners to provide services on our behalf, complying with confidentiality agreements.</p>

    <h2>Security</h2>
    <p>We implement appropriate security measures to protect your information. However, no system is completely secure, and we cannot guarantee the security of your data.</p>

    <h2>Your Rights</h2>
    <p>You have the right to access, update, or delete your personal information. Contact us at [your-email@example.com] for requests.</p>

    <h2>Changes to This Policy</h2>
    <p>We may update this privacy policy from time to time. We encourage you to review it regularly.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions, please contact us at [your-email@example.com].</p>

    </div>
</div>

{% endblock %}