{% extends 'base.html' %}

{% block title %} Profiles {% endblock %}

{% block content %}
<div class="card mt-5">
    <div class="card-body">
        <h5 class="card-title">Profiles</h5>
        {% if profiles_list %}
        <ul class="list-group">
        {% for profile in profiles_list %}
            <li class="list-group-item ">
                <a class="link-list" href="{% url 'profile' username=profile.user.username %}">
                    {{ profile.user.username }}
                </a>
            </li>
        {% endfor %}
        </ul>
        {% else %}
        <p>No profiles are available.</p>
        {% endif %}
    </div>
</div>
{% endblock %}