
body {
  padding-top: 56px;
  background: #EBE7DE;
}

.bg-navy {
    background-color: #2E3645;
}

.bg-dark {
    background-color: #343a40!important;
}

.bg-beige {
    background-color: #EBE7DE;
}


.ml-auto{
    margin-left: auto!important;
}


.p-15{
padding: 15px;
}

.form-signout {
 width: 70%;
 max-width: 450px;
}


.border {
  border: solid 1px black;
}


.button {
  background-color: rgb(247, 241, 232);
  border-color: grey;
  padding: 5px 5px;
  margin-left:15px;
  border-style: inset;
  text-align: center;
  text-decoration: none;
}

/* display */
.display-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.display-grid {
    display: grid;
    align-items: center;
    justify-content: space-between;
}


 .w-150{
 width: 150px;}

 .w-100{
 width: 100px;}

 .link-list{
    color: #000;
    text-decoration: none;

 }