{% extends 'base.html' %}

{% block title %} Lettings {% endblock %}


{% block content %}

<div class="card mt-4">
     <div class="card-body">
         <h5 class="card-title">Lettings</h5>
        {% if lettings_list %}
            <ul class="m-3">
            {% for letting in lettings_list %}
                <li class="m-2">
                    <a href="{% url 'letting' letting_id=letting.id %}">
                        {{ letting.title }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No lettings are available.</p>
        {% endif %}
     </div>
</div>
{% endblock %}