{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<div class="card mt-5 mb-3">
    <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p>{{ address.number }} {{ address.street }}</p>
    <p>{{ address.city }}, {{ address.state }} {{ address.zip_code }}</p>
    <p>{{ address.country_iso_code }}</p>
    </div>
</div>

<div class="text-center"><a class="btn btn-outline-dark" href="{% url 'lettings_index' %}">Back</a></div>

{% endblock %}